body{
    background-image: url(soap.png);
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    color: #964A7A;
    text-decoration: none;
    font-size: 25px;
    margin-left: 40px;
}

nav{
    margin-top: 30px;
    align-items: start;
    margin-left: 20px;
}

.text1{
    font-size: 30px;
    color: #964A7A;
    margin-top: 150px;
}

button{
    width: 342px;
    height: 93px;
    border-radius: 100px;
    color: white;
    background-color: #E574BC;
    font-size: 30px;
    margin-left: 120px;
    border: none;
}